    torch
    torchvision
    einops
    geopandas
    jsonargparse[signatures]>=4.27.7
    lightning
    matplotlib
    python-box
    scikit-image
    scikit-learn
    timm
    vit-pytorch
    wandb
    rasterio
    pystac-client
    xbatcher
    odc-stac
    contextily
    zarr
    git+https://github.com/IBM/terratorch.git#egg=terratorch